@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html {
  margin: 0px;
  font-family: "VT323", monospace;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0px;
}

.header {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.logo {
  height: 80px;
}

.site-title {
  font-size: 24pt;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white;
}

.container {
  display: flex;
  max-height: 100vh;
  width: 100%;
  justify-content: left;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  max-width: 30%;
  min-width: 20%;
  overflow-y: auto;
  overlow-x: visible;
  gap: 10px;
}

.nav.group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  white-space: nowrap;
  text-decoration: none;
  color: white;
  background-color: black;
  box-shadow: 2.5px 2.5px 0px #999;
  padding: 1px 3px;
}

.btn:hover {
  transform: translate(1px, 1px);
  box-shadow: 1.5px 1.5px 0px #999;
}

.btn:active {
  transform: translate(1.5px, 1.5px);
  box-shadow: 1px 1px 0px #999;
}

.document-link-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.document-page-number {
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
    position: relative;
    transform: translate(5px, -20px);
    opacity: 30%;
    height: 0px;
}

.thumbnail {
  width: 120px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.nb-pages {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 80px); */
  /* max-width: 50vw; */
  flex-grow:1;
  overflow-y: auto;
  gap: 10px;
  padding: 10px;
}

.nb-page-svg {
  max-height: 100%;
  align-self: flex-start;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.nb-page-container {
    /* height: calc(100vh - 80px - 10px); */
}

.nb-pages-nav-thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 10vw; */
    /* min-width: 120px; */
    /* overflow-y: auto; */
    gap: 5px;
}

.svg-button {
  border: 0.1px solid black;
  box-shadow: 2.5px 2.5px 0px #999;
}

.svg-button:hover {
  transform: translate(1px, 1px);
  box-shadow: 1.5px 1.5px 0px #999;
}

.svg-button:active {
  transform: translate(1.5px, 1.5px);
  box-shadow: 1px 1px 0px #999;
}

.nb-page-divider {
  margin: 10px auto;
  border-top: 1px solid black;
  width: 20%;
}

.gallery {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  flex-grow:1;
}

.gallery-folders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
.gallery-thumbnail {
  height: 300px;
}

.breadcrumbs {
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    flex-wrap: wrap;
}

.breadcrumb {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nb-name {
    font-weight: bold;
}

.breadcrumb-seperator {
  margin: 0px 4px;
}

.svg-img {
    max-width: 100%;
    max-height: 100%;
}

.marker-network-cta {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;;
    right: 10px;
    top: 10px;
    background: rgba(255, 255, 255, 0.5);
}
.marker-network-cta > img{
    height: 64px;
}

@media screen and (max-width: 550px) {
    .nb-pages-nav-thumbnails {
	display: none;
    }

    .container {
	flex-direction: column;
	max-height: unset;
    }

    .navbar {
	flex-direction: column;
	align-items: center;
	margin-left: unset;
	min-width: unset;
	max-width: unset;
	overflow-y: unset;
    }

    .gallery {
	max-width: unset;
    }

    .nav.group {
	justify-content: center;
    }

    .thumbnail {
	width: 50px;
    }

    .nb-pages {
	padding-top: 0px;
    }
}
