@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html {
  margin: 0px;
  font-family: "VT323", monospace;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.header {
  position: fixed;
  display: flex;
  align-items: start;
  margin-top: 24px;
  margin-left: 24px;
}

.logo {
  height: 80px;
}

.site-title {
  font-size: 24pt;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white;
}

.gallery-thumbnail {
  width: 240px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 100px;
  width: 25vw;
  max-width: 250px;
  overflow-y: scroll;
}

.nav.group {
  display: flex;
  flex-wrap: wrap;
}

.folder-link {
  margin: 5px;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  background-color: black;
  box-shadow: 2.5px 2.5px 0px #999;
  padding: 1px 3px;
}

.folder-link:hover {
  transform: translate(1px, 1px);
  box-shadow: 1.5px 1.5px 0px #999;
}

.folder-link:active {
  transform: translate(1.5px, 1.5px);
  box-shadow: 1px 1px 0px #999;
}

.document-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px;
  width: 80px;
}

.thumbnail {
  /* width: 60px; */
}

a {
  text-decoration: underline;
  color: black;
}

.nb-pages {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  height: calc(100vh - 80px);
  flex-grow: 1;
  overflow-y: scroll;
}

.nb-page-svg {
  width: 100%;
}

.nb-page-container {
    flex-grow: 1;
}

.nb-pages-nav-thumbnails {
    width: 15vw;
    overflow-y: scroll;
}

.nb-page-container-nav-thumbnails {
    width: 100%;
}


.nb-page-divider {
  margin: 0px auto;
  border-top: 1px solid black;
  width: 20%;
}

.gallery {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.gallery-folders {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
}

.breadcrumb-seperator {
  margin: 0px 4px;
}
